<div class="modal fade" id="basiceModal" tabindex="-1" aria-labelledby="basicModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-C-B">

    <div class="modal-content">

      <div class="modal-header">

        <h5 class="modal-title" id="result-h5">Tie-Set Matrix</h5>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

      </div>

      <div class="modal-body text-center">

        <div id="resultField" class="table-responsive">
          <table class="table table-bordered">
            <tbody id="result-body">

            </tbody>
          </table>
        </div>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Ok</button>

      </div>


    </div>

  </div>

</div>

<!-- ZB Modal -->
<div class="modal fade" id="ZB_modal" tabindex="-1" aria-labelledby="ZB_modal" aria-hidden="true">

  <div class="modal-dialog" id="modal-ZB">

    <div class="modal-content">

      <div class="modal-header">

        <h5 class="modal-title" id="result-h5">ZB</h5>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

      </div>

      <div class="modal-body text-center">

        <div class="table-responsive">
          <table class="table table-bordered d-flex" id="table-ZB">
            <tbody id="ZB-body">
            <tr>
              <td><input type="text" name="ZB" class="ZB" size="3"></td>
              <td><input type="text" name="ZB" class="ZB" size="3" value="0" disabled></td>
            </tr>
            <tr>
              <td><input type="text" class="ZB" id="ZB" size="3" disabled value="0"></td>
              <td><input type="text" class="ZB" id="ZB" size="3"></td>
            </tr>
            </tbody>
          </table>
        </div>
        <button (click)="handleZB($event)" type="button" class="btn btn-primary" data-bs-dismiss="modal">Next</button>

      </div>


    </div>

  </div>

</div>

<!-- YB Modal -->
<div class="modal fade" id="YB_modal" tabindex="-1" aria-labelledby="YB_modal" aria-hidden="true">

  <div class="modal-dialog" id="modal-YB">

    <div class="modal-content">

      <div class="modal-header">

        <h5 class="modal-title" id="result-h5">YB</h5>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

      </div>

      <div class="modal-body text-center">

        <div class="table-responsive">
          <table class="table table-bordered d-flex" id="table-ZB">
            <tbody id="YB-body">

            </tbody>
          </table>
        </div>
        <button (click)="handleYB($event)" type="button" class="btn btn-primary" data-bs-dismiss="modal">Next</button>

      </div>


    </div>

  </div>

</div>

<!-- EB-IB Modal -->
<div class="modal fade" id="EB_IB_modal" tabindex="-1" aria-labelledby="EB_IB_modal" aria-hidden="true">

  <div class="modal-dialog" id="EB_IB_modal">

    <div class="modal-content">

      <div class="modal-header">

        <h5 class="modal-title" id="result-h5">EB - IB</h5>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

      </div>

      <div class="modal-body text-center">

        <div class="table-responsive">
          <div class="row" style="margin:0">

            <div class="col-2" id="EB-text" style="padding-right: 0;">
              EB =
            </div>
            <div class="col-3" style="padding-left: 0;">
              <table class="table" id="EB-table">
                <tbody id="EB-body">

                </tbody>
              </table>
            </div>
            <div class="col-1"></div>
            <div class="col-2" id="IB-text" style="padding-right: 0;">
              IB =
            </div>
            <div class="col-4" style="padding-left: 0;">
              <table class="table" id="IB-table">
                <tbody id="IB-body">

                </tbody>
              </table>
            </div>
          </div>
        </div>
        <button (click)="generateZBorYB($event)" type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Back
        </button>
        <button (click)="calculateResult($event)" type="button" class="btn btn-success" data-bs-dismiss="modal">
          Calculate
        </button>

      </div>


    </div>

  </div>

</div>

<!-- VB-JB Modal -->
<div class="modal fade" id="VB_JB_modal" tabindex="-1" aria-labelledby="VB_JB_modal" aria-hidden="true">

  <div class="modal-dialog" id="VB_JB_modal">

    <div class="modal-content">

      <div class="modal-header">

        <h5 class="modal-title" id="result-h5">VB - JB</h5>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

      </div>

      <div class="modal-body text-center">

        <div class="table-responsive">
          <div class="row" style="margin:0">

            <div class="col-2" id="JB-text" style="padding-right: 0;">
              JB =
            </div>
            <div class="col-3" style="padding-left: 0;">
              <table class="table table-bordered" id="JB-table">
                <tbody id="JB-body">

                </tbody>
              </table>
            </div>
            <div class="col-1"></div>
            <div class="col-2" id="VB-text" style="padding-right: 0;">
              VB =
            </div>
            <div class="col-3" style="padding-left: 0;">
              <table class="table table-bordered" id="VB-table">
                <tbody id="VB-body">

                </tbody>
              </table>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">OK</button>

      </div>


    </div>

  </div>

</div>


<div class="text-center card">
  <h1 class="text-center">CAD Project</h1>

  <div class="container d-flex" style="justify-content: center;">
    <div class="">
      <p>Enter the size of the reduced Incident matrix: </p>
      <form id="size" role="form">
        <table class="table">
          <tr style="display: inline;">
            <th>Reduced incident Matrix Size [A]: </th>
          </tr>
          <tr style="display: inline; padding-left: 20px;">
            <td><input type="text" name="row-size" id="row-size" size="3"> *
              <input type="text" name="col-size" id="col-size" size="3"></td>
          </tr>
        </table>
        <input type="submit" (click)="generateMatrix($event)" class="btn btn-dark w-100" value="Fill Matrix">

      </form>

      <form id="inputField" role="form" class="form-matrix table-responsive">


        <table class="table">
          <thead>
          <tr>
            <th>Tree Branch</th>
            <th>Tree Link</th>
          </tr>
          </thead>
          <tbody id="matrix">

          </tbody>
        </table>


        <br>
        <button (click)="handleMatrixA($event, 'calc_C')" class="btn btn-primary btnStyle"><span>Cut-Set Matrix [C]</span>
        </button>
        <button (click)="handleMatrixA($event, 'calc_B')" class="btn btn-primary btnStyle"><span>Tie-Set Matrix [B]</span>
        </button>
        <button (click)="generateZB($event)" class="btn btn-dark btnStyle"><span>KVL [ZB]</span></button>
        <button (click)="generateYB($event)" class="btn btn-dark btnStyle"><span>KCL [YB]</span></button>

      </form>

    </div>
  </div>
</div>

<div class="graph-container">
  <app-graph *ngIf="show"
             [nodes]="nodeData"
             [edges]="edges"

             [treeBranches]="highlighted"

  ></app-graph>

</div>

